/* Dropdown button common styles */
.dropdown-toggle-button {
    background-color: transparent;
    background-image: url('/icons/icon-chevron-down-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
    aspect-ratio: 1;
}

/* When dropdown is open, change icon to chevron up */
.dropdown-toggle-button[aria-expanded="true"] {
    background-image: url('/icons/icon-chevron-up-dark.svg');
}