// Imports
@use '../../../../styles/globals/custom-properties';
@use '../../../../styles/utils/breakpoints';

.search {
    position: relative;
}
  
.search input {
    background-color: hsl( var( --clr-background-input ) );
    border-radius: 2px;
    padding: 0.3rem;
    padding-left: 2.4em;
    width: 100%;
    border: var(--border-light);
}
  
.search .search-icon {
    position: absolute;
    left: 0.7em;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}

@include breakpoints.breakpoint-down(small) {
    .search {
      display: none;
    }
}